* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-pills {
  justify-content: center;
}
.container_ex {
  width: fit-content;
  margin: auto;
}
.content {
  background-color: #fff;
  width: 100%;
  padding: 40px;
  border: 1px solid transparent;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.input_info {
  display: flex;
  flex: 1;
}
.input_info .form-group {
  margin-right: 10px;
}
.input_info .form-control {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.btn {
  padding: 10px 40px;
  border-radius: 20px;
}
.result {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  display: block;
  border: 1px solid aquamarine;
  background-color: rgba(127, 255, 212, 0.233);
  border-radius: 10px;
}
.result i {
  font-size: 30px;
}
.result div {
  display: inline;
  margin-left: 10px;
}
.result h1 {
  display: inline;
}
